.exp_title{
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0 7px 25px;
}
.exp_totalHead{
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid black;
    margin: 0 15px 0 15px;
    border-radius: 10px;
    color: red;
    background-color: #fff;
}
.exp_parentDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 15vh);
    margin-top: 20px;
}
.exp_mainDiv{
    grid-column: 1 / 3 ;
    margin-left: 25px;
}
.exp_historyDiv{
    grid-column: 3 / -1;
}
.exp_Div{
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    width: 65%;
}
.exp_Div input{
    height: 30px;
    background-color: #F9F5F6;
    border-radius: 10px;
}
.exp_addBtn{
    margin: 15px;
}

.exp_historyDivItem {
    border: 2px solid green;
    /* height: 55px; */
    /* display: grid; */
    /* grid-template-columns: 50px auto 50px; */

    border-radius: 15px;
    /* display: flex;
    align-items: center; */
    /* padding: 10px; */
    margin: 10px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,auto);
}
/* .exp_historyDivItem span { */
    /* flex: 1 1; */
    /* flex-wrap: wrap; */
    /* padding-left: 7px; */
    /* font-size: large; */
/* } */
.exp_startItem{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.exp_IncomeTitle{
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}
.exp_IncomeAmount{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-self: center;
}
.exp_IncomeDate{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-self: center;
}
.exp_IncomeDescription{
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    padding-left: 10px;
    display: flex;
    align-self: center;
}
.exp_endItem{
    grid-column: 8 / 9;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}
