.main_Div {
    background-color: #E4A5FF;
    /* background-color: #FCF6F9; */
    /* background-color: #FFD1DA; */
    border: 2px solid black;
    width: 77%;
    float: right;
    margin: 15px 7px 15px 0px;
    min-height: 95vh;
    border-radius: 20px;
    /* box-sizing: border-box; */
    overflow: auto;
    /* box-shadow: 0px 2px 2px 3px #888888; */
    flex-wrap: wrap;
}