.main_Div {
    background-color: #FFD1DA;
    border: 2px solid black;
    width: 77%;
    float: right;
    margin: 15px;
    height: 95vh;
    border-radius: 20px;
    /* box-sizing: border-box; */
    overflow: auto;
    box-shadow: 0px 7px 10px 8px #888888;
}