.inc_title{
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0 7px 25px;
}
.inc_totalHead{
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid black;
    margin: 0 15px 0 15px;
    border-radius: 10px;
    color: green;
    background-color: #fff;
}
.inc_parentDiv{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 15vh);
    margin-top: 20px;
}
.inc_mainDiv{
    grid-column: 1 / 3  ;
    margin-left: 25px;
}
.inc_historyDiv{
    grid-column: 3 / -1;
}
.inc_Div{
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    width: 80%;
}
.inc_Div input{
    height: 30px;
    background-color: #F9F5F6;
    border-radius: 10px;
}

.inc_addBtn{
    margin: 15px;
}

.inc_historyDivItem {
    border: 2px solid green;
    border-radius: 15px;
    margin: 10px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,auto);
}
/* .inc_historyDivItem span { */
    /* flex: 1 1; */
    /* flex-wrap: wrap; */
    /* padding-left: 7px; */
    /* font-size: large; */
/* } */
.inc_startItem{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.inc_IncomeTitle{
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}
.inc_IncomeAmount{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: large;
}
.inc_IncomeDate{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    display: flex;
    align-self: center;
}
.inc_IncomeDescription{
    grid-column: 5 / 9;
    grid-row: 2 / 3;
    padding-left: 10px;
    display: flex;
    align-self: center;
}
.inc_endItem{
    grid-column: 9 / -1;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}
